@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<link rel="stylesheet" href="css/notfoundpage.css">
<div id="main">
    	<div class="fof">
        		<h1>Error 404</h1>
        <h2>The requested page does not exist</h2>
    	</div>
</div>