@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h1>@ViewData["Title"]</h1>
<h2>Reset your password.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating">
                <p class="text-light">Email</p>
                @* <label asp-for="Input.Email" class="form-label"></label> *@
                <input asp-for="Input.Email" class="form-control bg-white" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-floating">
                <p class="text-light">Password</p>
                @* <label asp-for="Input.Password" class="form-label"></label> *@
                <input asp-for="Input.Password" class="form-control bg-white" autocomplete="new-password" aria-required="true"/>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-floating">
                <p class="text-light">ConfirmPassword</p>
                @* <label asp-for="Input.ConfirmPassword" class="form-label"></label> *@
                <input asp-for="Input.ConfirmPassword" class="form-control bg-white" autocomplete="new-password" aria-required="true"/>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <br/>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
