.col-icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.myIcon{
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    line-height: 115%;
    width: 74px;
}
.box-event {
    position: relative;
    top: 26%;
    border: 1px solid black;
    width: 40px;
    height: 45px;
    text-align: center;
    background-color: #dc3545!important;
    border-radius: 4px;
    padding: 2px;
    
}
.box-event:after{
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 100%;
}
.col-viewdetails{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.viewdetails{
    vertical-align: middle;
    text-align: center;
    font-size: x-small;
    color: #d3d6d8;
}
.box-details{
    border: 1px solid black;
    width: 80px;
    height: 60px;
    text-align: center;
    background-color: #5a6268!important;
    padding: 4px;
}
.box-details:after{
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 100%;
}
.buttom-seemore {
    background-color: rgba(0, 0, 0, 0.5)!important;
    border-color: white;
    color: white;
}
.button-seemore:active{
    background-color: rgba(0,0,0, 0.8)!important;
}
.overlay{
    position: fixed;
    display: none;
    height: 45%;
    width: 100%;
    z-index: 2;
    left: 0;
    bottom: 0;
    background-color: rgb(255,255,255)!important;
    border-radius: 90px / 30px 30px 0px 0px;
}
.overlay-upperpart{
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(24, 18, 18, 0.9);
}
.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
}
.overlay .closebtn{
    position: absolute;
    left: 45px;
    font-size: 30px;
}
.overlay .topdf{
    position: absolute;
    right: 45px;
    font-size: 30px;
}
.viewdetails-icon{
    font-size: 49px;
    /*left: 50%;*/
    text-align: center;
}
.viewdetails-box {
    width: 80px!important;
    height: 80px;
    text-align: center;
    background-color: #dc3545!important;
    border-radius: 50%;
    /*line-height: 115%;*/
    /*padding: 15px;*/
    position: relative;
    top: -41px;
}
.viewdetails-box:after{
    /*display: inline-block;*/
    vertical-align: super;
    content: "";
    height: 100%;
    width: 100%;
}
.status-mainp{
    position: absolute;
    font-size: 13px;
    border-radius: 10px;
}
.status-subp{
    position: absolute;
    font-size: 13px;
    border-radius: 10px;
    top: 15px;
    right: 30px;
}
.filtercon{
    background-color: transparent;
    border-color: transparent;
}
.slidecontainer{
    position: relative;
    /*top: -32px;*/
    /*right: 62%;*/
    width: 40%;
}
.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0b5ed7;
    cursor: pointer;
}
.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background: #0b5ed7;
    cursor: pointer;
}
.applybtn{
    position: relative;
    /*left: 70%;*/
}