.col-icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.myIcon{
    vertical-align: middle;
    text-align: center;
    font-size: 30px;
    line-height: 74px;
    width: 74px;
}
.box-event {
    border: 1px solid black;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #dc3545;
    border-radius: 4px;
    padding: 4px;
}
.box-event:after{
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 100%;
}
.col-viewdetails{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.viewdetails{
    vertical-align: middle;
    text-align: center;
    font-size: x-small;
    color: #d3d6d8;
}
.box-details{
    border: 1px solid black;
    width: 80px;
    height: 60px;
    text-align: center;
    background-color: #5a6268;
    padding: 4px;
}
.box-details:after{
    display: inline-block;
    vertical-align: middle;
    content: "";
    height: 100%;
}