@page "Backend.DBconnection/CheckUserDB"
@using Backend.DBconnection.CheckUserDB
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Frontend.Views.Login.login
@namespace LoginFunctions.cs
@*@namespace Backend.DBconnection.CheckUserDB.cs*@



@{
    Layout = null;
}



<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="css/loginstyle.css"> 
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>
<body>
<div class="center" >
    <div class="header">
        Login 
    </div>
    <form>
        <input type="text" placeholder="Email or Username" id = "UsernameLogin">
        <i id="1" class="far fa-envelope"></i>
        
        <input type="password" placeholder="Password" id ="CurrentInputPassword">
        <span class="eye" onclick="FunctionShow()">
            <i id="hide1" class="fas fa-eye" ></i>
            <i id="hide2" class="fas fa-eye-slash" ></i>
        </span>
        <a class="nav-link" asp-controller="Login" asp-action="succesloginpage">Login</a>
        <input type="submit" value="Sign in" class = "submit-btn" onclick="LoginChecker()"/>
        <a href="#">Forgot Password?</a>
    </form>
</div>

<script>
    function LoginChecker(){
        
        var x = document.getElementById("UsernameLogin").value;
        var y = document.getElementById("CurrentInputPassword").value;
        Console.WriteLine(x);
        Console.WriteLine(y);
       @* bool gateTwo = @DBconnection.CheckUserDB("Peter", "Pan8311");*@
       //Ik probeerde de if statement op meerde manieren te maken. eerst door hoe hierboven is, de x en y in de functie te zetten
       //en daarna het te roepen maar dan werkt het niet ivm "x,y are unknown variables"
       @*Daarna probeerde ik het direct door if(@{DBconnection.CheckUserDB(x,y)}) maar dat werkt ook niet.*@
        if (x == "hello" && y == "bye")//Hier probeerde ik het nog makkelijker te maken maar zelfs dit werkt niet. 
            {
                return RedirectToAction("CheckUserDB", "login");//het verwijst hier niet naar de succesloginpagian ookal moet dat.
            }//als ik de "return redirectoaction " statement weghaal, werkt de if statement wel. Idk why.
        else{
            alert("ALERT");
        }
</script>

<script>
    function FunctionShow(){
        var x = document.getElementById("CurrentInput");
        var y = document.getElementById("hide1");
        var z = document.getElementById("hide2");

        if(x.type == "password"){
            x.type = "CurrentInput";
            y.style.display = "block";
            z.style.display = "none";
        }
        else{
            x.type = "password";
            y.style.display = "none";
            z.style.display = "block";
        }
    }
</script>

</body>
</html>