
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Succes Login Page</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/regular.min.js">

</head>


<body>
<div class="center" >
    <i class="fa-regular fa-compass"></i> LIVE TRACKING
    <div class="header">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6239843.069180136!2d122.93418751125002!3d40.2135477934208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357e02dae64f4337%3A0x3a0b871c3e1d861c!2sNoord-Korea!5e0!3m2!1snl!2snl!4v1665417523558!5m2!1snl!2snl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <form>
        <i class="fa-solid fa-filter"></i>
        <a> Filters</a>
    </form>
    <div class="header">
        <a> Recent Events</a>
    </div>
</div>





</body>
</html>