@page
@model Frontend.Views.Login.succesloginpage

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>HELLO YOU HAVE SUCCESFULLY LOGGED IN</title>
</head>
<body>
<div>
    
</div>
</body>
</html>