@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Frontend.Controllers
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model List<MapItems>

@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_LoginPage";
}
<body>
    <div>
        <h1 class="text-center">Welcome to the next step in technology accelerated animal preservation </h1>
        <p>In collaboration between ALTEN and Chengeta wildlife we are proud to present the next step in protecting vulnerable wildlife from poachers in national parks throughout Africa. </p>
        <br/>
        <p>If you are a ranger please log in to access the ranger panel for the most current events currently unfolding.</p>
    </div>
</body>