@using Npgsql;
@using System.Dynamic;
@using System.Text.Json.Serialization;
@model List<MapItems>


@{
    Layout = "_Layout";
}
<head>
    @* <meta charset="utf-8"> *@
    @* <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> *@
    @* <meta name="description" content="Start your development with Ollie landing page."> *@
    @* <meta name="author" content="Devcrud"> *@
    @* <title>PoacherHunter2000</title> *@

    <!-- font icons -->
    <link rel="stylesheet" href="~/assets/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/assets/vendors/fontawesome-free-6.2.1-web/css/fontawesome.css">
    <link rel="stylesheet" href="~/assets/vendors/fontawesome-free-6.2.1-web/css/solid.css">

    <!-- owl carousel -->
    @* <link rel="stylesheet" href="~/assets/vendors/owl-carousel/css/owl.carousel.css"> *@
    @* <link rel="stylesheet" href="~/assets/vendors/owl-carousel/css/owl.theme.default.css"> *@

    <!-- Bootstrap + Ollie main styles -->
    <link rel="stylesheet" href="~/assets/css/ollie.css">
    
    <!-- Map style + js -->
    <link rel="stylesheet" href="~/assets/vendors/leaflet/leaflet.css">
    <script src="~/assets/vendors/leaflet/leaflet.js"></script>
    <!--scripts for pdf -->
    
    <script  src="html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script> <script src="https://parall.ax/parallax/js/jspdf.js"></script>
    <script  src="Javascript/external/jspdf.plugin.standard_fonts_metrics.js"></script> <script  src="Javascript/external/jspdf.plugin.split_text_to_size.js"></script>  <script  src="Javascript/external/jspdf.plugin.from_html.js"></script> <script src="Javascript/external/jspdf.debug.js"></script>
    <script src="jspdf.min.js"></script> <script src="scriptD.js"></script> <script type="text/javascript" src="/js/myimage.js"></script>
    
    <!-- Extra's -->
    <link rel="stylesheet" href="~/assets/css/events.css">
    
    <!-- Background color, etc -->
    <link rel="stylesheet" href="~/assets/css/layoutsettings.css">

</head>
<body>
<div id="map">
    @* @await Html.PartialAsync("Map") *@
    <div class="container">
        <div class="row align-items-center mr-auto">
            <div class="col-md-4">
                <h3 class="section-title">Live Tracking</h3>
            </div>
            <div class="container">
                <div id="myLeafletMap" style="width:100%;height:400px;z-index: 0;"></div>
            </div>
        </div>
    </div>
</div>
@* $1$ <section class="section" id="about"> #1# *@
@*     <div class="container"> *@
@*         <div class="row align-items-center mr-auto"> *@
@*             <div class="col-md-4"> *@
@*                 <h3 class="section-title">Live Tracking</h3> *@
@*                 $1$ <a href="javascript:void(0)">Read more...</a> #1# *@
@*             </div> *@
@*             <div class="container"> *@
@*                 <div id="googleMap" style="width:100%;height:400px"></div> *@
@*             </div> *@
@*             <script> *@
@*              function myMap() { *@
@*              var mapProp= { *@
@*                  center:new google.maps.LatLng(51.508742,-0.120850), *@
@*                  zoom:5, *@
@*              }; *@
@*              var map = new google.maps.Map(document.getElementById("googleMap"),mapProp); *@
@*              } *@
@*          </script> *@
@*             <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIhCB6jZXgL-QVL-6oq4hWQzyX6xDcWeo&callback=myMap"></script> *@
@*         </div> *@
@*     </div> *@
@* $1$ </section> #1# *@
<div id="filters" class="container" style="padding-top: 10px">
    <button onclick="showfilter()" class="filtercon" style="color: #dc3545"><i class="fa-solid fa-filter"></i>Filter</button>
    <div id="filtershowmore" class="container" style="display: none; padding-top: 10px; background-color: #282828;">
        <div class="row">
            <div class="col">
                <label for="filter1" style="display: block">Sort sound</label>
                <select id="filtersoundtype" name="filter1">
                    <option data-count="1" value="All">All</option>
                    <option data-count="2" value="Gunshot">Gunshot</option>
                    <option data-count="3" value="Vehicle">Vehicle</option>
                    <option data-count="4" value="Animal">Animal</option>
                    <option data-count="5" value="Thunder">Thunder</option>
                    <option data-count="6" value="Unknown">Unkown</option>
                </select>
            </div>
            <div class="col slidecontainer">
                <label for="filter2" style="display: block">Time</label>
                <input type="range" min="1" max="25" value="1" class="slider" id="myRange"/>
                <p>Time in GMT: <span id="demo"></span></p>
            </div>
        </div>
        <button onclick="applied()" class="filtercon applybtn" style="color: white">Apply</button>
    </div>
</div>

<section>
    <div id="events">
        @await Html.PartialAsync("Events")
    </div>
</section>
<div id="overlaybackgroundcolor" class="overlay-upperpart">
    <div id="overlaydetails" class="overlay">
        <div id="viewdetailsofevent" class="overlay-content">
            @* @Html.Partial("ViewDetailsPartial", Model[0]) *@
            @* close partial *@
        </div>
    </div>
</div>

<!-- core  -->
<script src="~/assets/vendors/jquery/jquery-3.4.1.js"></script>
@* <script src="~/assets/vendors/bootstrap/bootstrap.bundle.js"></script> *@
@* *@
@* <!-- bootstrap 3 affix --> *@
@* <script src="~/assets/vendors/bootstrap/bootstrap.affix.js"></script> *@

<script src="~/assets/js/events.js"></script>
<script src="~/assets/js/showEvents.js"></script>

<!-- Map script -->
<script>
 // function myMap() {
     
 var map = L.map('myLeafletMap').setView([-2.1188719515300574, 20.706445713722665], 6);
 L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
     maxZoom: 19,
     attribution: '&copy; <a href="http:www.openstreetmap.org/copyright">OpenStreetMap</a>'
 }).addTo(map);
 // }
 // myMap();
 addmarkers(@Json.Serialize(Model));
 function addmarkers(currentevents){
     // console.log("markeradd1: ");
     console.log(currentevents);
     let markers = [];
     try {
     $(".leaflet-popup-pane").empty();
     $(".leaflet-marker-pane").empty();
     $(".leaflet-shadow-pane").empty();
     }
     catch (err){
     console.log("No layer found");    
     }
     finally {
     currentevents.forEach((element, i) =>
     markers[i] = new L.marker([element.latitude, element.longitude]).bindPopup(
         "Id: "+ element.id +"</br>Soundtype: "+ element.soundtype + "</br>Probability: " + element.probability + "%"));
     var test_showevents = L.layerGroup(markers);
     // console.log("markeradd2: ");
     // console.log(markers);
     test_showevents.addTo(map);
     // console.log("markeradd3: ");
     // console.log(test_showevents.getLayers());
     }
     
 }
 </script>
<script>

</script>
@* Function give model list *@
 @* // newmap(@Json.Serialize(Model)); *@


<script id="testing">
function refresh(){
    loadNewEvents()
    getnotifs()    
}
refresh()
function loadNewEvents(){
    var getfiltersoundtype = document.getElementById("filtersoundtype");
    var value1 = getfiltersoundtype.value;
        // console.log(value);
    var slider = document.getElementById("myRange");
    var value2 = slider.value;
    
    var i = 0;

    $('.col-icon').each(function(){
        i += 1;
    })
    console.log("current:" + i);
    if (i < 5){
        i += 1;
    }
    events(i, value1, value2)
    
    // Call ajax for data
    getmapdata(i, value1, value2)
}
function refreshviewdetails(id){
    getview(id)
}
</script>
<script>

    function showfilter(){
        if (document.getElementById("filtershowmore").style.display ==  "none"){
            document.getElementById("filtershowmore").style.display = "block";
        }
        else{
            document.getElementById("filtershowmore").style.display = "none";
        }
    }
    var getfiltersoundtype = document.getElementById("filtersoundtype");
    function filtersoundtypechange(){
        // var value = getfiltersoundtype.value;
        loadNewEvents()
        // console.log(value);
    }
    getfiltersoundtype.onchange = filtersoundtypechange;
    filtersoundtypechange();
    
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    
    var dict = {
        1: "All",
        2: "00:00 - 01:00",
        3: "01:00 - 02:00",
        4: "02:00 - 03:00",
        5: "03:00 - 04:00",
        6: "04:00 - 05:00",
        7: "05:00 - 06:00",
        8: "06:00 - 07:00",
        9: "07:00 - 08:00",
        10: "08:00 - 09:00",
        11: "09:00 - 10:00",
        12: "10:00 - 11:00",
        13: "11:00 - 12:00",
        14: "12:00 - 13:00",
        15: "13:00 - 14:00",
        16: "14:00 - 15:00",
        17: "15:00 - 16:00",
        18: "16:00 - 17:00",
        19: "17:00 - 18:00",
        20: "18:00 - 19:00",
        21: "19:00 - 20:00",
        22: "20:00 - 21:00",
        23: "21:00 - 22:00",
        24: "22:00 - 23:00",
        25: "23:00 - 00:00",
    }
    
    output.innerHTML = dict[slider.value];
    
    slider.oninput = function (){
        output.innerHTML = dict[this.value];
    }
    function applied(){
        loadNewEvents()
    }
</script>

<!-- Test codes, voor nu niet verwijderen - Min En -->
@* @{ var currentevents = Model.Count - 5;} *@
@* $('#events').load('@Url.Action("Map", "Home", new {addevent = currentevents})') *@

@* <script id="newtest"> *@
@* function changeFunction(currentevents){ *@
@*     var scripthtml = $(this).html(); *@
@*     $("testing").replaceWith('<script>'); *@
@*     } *@
@* </script> *@

<script type="text/javascript" id="reloadjs">
     setInterval("refresh()", 30000);
     </script>
<script>
function openNav(){
    document.getElementById('overlaybackgroundcolor').style.display = "block";
    document.getElementById('overlaydetails').style.display = "block";
}
function closeNav(){
    document.getElementById('overlaybackgroundcolor').style.display = "none";
    document.getElementById('overlaydetails').style.display = "none";
}
</script>
</body>
